@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    background-color: rgba(28,28,28,255);
    color: white;
    min-height: 72.5px;
    display: flex;
    align-items: center;

}
.my-event{
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
}
.foto-inicio{
    background-image: url("img1.jpg");
    height: 800px;
    width: 1903px;
    background-position: -20px -200px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    color: white;
    text-align: left;
    font-size: 1.5rem;
    align-items: center;
    padding-top: 50px;
    
}
.txt1{
    display: flex;
    justify-content: space-between;
    justify-content: right;
    padding: 10px;
    flex-direction: row;
    vertical-align: auto;
    text-align: center;
    margin-right: 200px;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: -15px;
    
}
.txt2{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    vertical-align: auto;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-right: 200px;
    width: 30%;
    margin: center;
    font-family: "Kiwi Maru", serif;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 2px;
}
.butn1{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    vertical-align: auto;
    padding: 10px;
    margin: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 25px;
    margin-right: 200px;
    text-decoration: none;
    border: none;
    width: 250px;
    cursor: pointer;
    margin-bottom: 150px;
}    

.butn1:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
    text-decoration: none;
}
.quadro-branco-meio{
    display: flex;
    background-color: rgb(245, 235, 235);
    width: 100%;
    height: 700px;
    padding-right: 150px;
    padding-top: 75px;
}

.mulher-bnt{
    background-image: url(img2.jpg);
    height: 490px;
    width: 1200px;
    display: flex;
    background-position: 0px -280px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.textos2{
    width: 98%;
}

.txt4{
    display: flex;
    font-size: 250%;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    vertical-align: auto;
    width: 100%;
    margin: center;
    padding-right: 270px;
    padding-left: 80px;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

.txt5{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    vertical-align: auto;
    width: 105%;
    margin: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

.tela-preta-meio{
    display: flex;
    background-color: rgb(34, 32, 32);
    width: 100%;
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.txt6{
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: center;
    flex-direction: column;
    font-size: x-large;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
  
    


}
.txt7{
   margin-top: 20px;
   font-size: larger;
   font-family: "Khula", sans-serif;
    
}

.parte-branca{
    display: flex;
    background-color: rgba(245,244,245,255);
    width: 100%;
    height: 700px;
    flex-direction: row;
}

.homem-bnt{
    background-image: url(img3.jpg);
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.ultima-tela-giga{
    display: flex;
    background-color: rgb(34, 32, 32);
    width: 100%;
    height: 1200px;
    color: white;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
    gap: 100px;
}
.textos3{
    width: 100%;
    flex-direction: row;

}
.txt8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 300px;
    padding-top: 120px;
    font-size: xx-large;
    width: 1200px;
 

}
.txt9{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 300px;
    padding-top: 20px;
    font-size: xx-large;
    width: 1200px;
}

.butn1{
    text-decoration: none;
    border: none;
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem
}

.botaunenviar{
    justify-content: center;
    padding-left: 200px ;
}

.txt10{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    gap: 50px;
    padding-top: 50px;
}

.txt10 h1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.quadro-informacoes{
    display: flex;
    align-items: right;
    justify-content: right;
}
.txt12{
    padding-right: 50px;
    padding-top: 100px;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: center;
}
.cadastro{
    padding-top: 50px;
}

.botaoproximo{
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    flex-direction: row;
    scale: 200%;
    height: 50px;
    border-radius: 10px;
}

.botaoanterior{
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    flex-direction: row;
    scale: 200%;
    height: 50px;
    border-radius: 10px;
    
}

.botaoanterior:hover{
    transition: 1s;
    background-color: white;
    color: black;
}

.botaoproximo:hover{
    transition: 1s;
    background-color: white;
    color: black;
}

.seta-dir{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row ;

}

.seta-esq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.setas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 250px;
    padding-left: 100px;
}